<div class="well well-sm">
  <div class="row no-padding-bottom">
	<div class="col-4">
	  <div class="form-group no-margin-bottom">
	    <label><%= I18n.t('spree.show') %></label>
		<select class="form-control" name="show-only">
		  <option value="all"><%= I18n.t('spree.all') %></option>
		  <option value="incomplete"><%= t('i18n.only_incomplete', scope: 'spree') %></option>
		  <option value="complete"><%= t('i18n.only_complete', scope: 'spree') %></option>
		</select>
	  </div>

	  <div class="col-md-8">
	    <div class="form-group no-margin-bottom">
	  	  <label><%= t('i18n.select_locale', scope: 'spree') %></label>
		    <%= select_available_locales_fields %>
	  </div>
	</div>
  </div>
</div>