<% content_for :page_title do %>
  <%= t('spree.editing_resource', resource: Spree::ProductProperty.model_name.human) %> <span class="green">"<%= @product_property.property.presentation %>"</span>
<% end %>

<% content_for :page_actions do %>
  <%= button_to t('spree.back_to_resource_list', resource: Spree::ProductProperty.model_name.human), spree.admin_product_product_properties_path(@product_property.product), class: 'btn-primary', icon: 'arrow-left' %>
<% end %>

<div class="row translations">
  <div class="col-4">
    <%= render 'fields' %>
  </div>
  <div class="col-8">
    <%= form_for [:admin, @resource.product, @resource], method: :patch do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-actions" data-hook="buttons">
        <%= button t('spree.update'), 'update' %>
        <span class="or"><%= t('spree.or') %></span>
        <%= button_to t('spree.cancel'), spree.admin_product_product_properties_path(@product_property.product), icon: 'remove' %>
      </div>
    <% end %>
  </div>
</div>